@import "variables";

.admin-nav-button--selected {
  border-radius: 5px;
  background-color: $primary-dark;
  color: white;
}

.admin-nav-button {
  border: 1px solid $primary-dark;
  border-radius: 5px;
}

.admin-details-button {
  background-color: $primary-accent;
  color: white;
  font-weight: 700;
}

.admin-user-action-button {
  border: 1px solid rgba(105, 4, 4, 0);

  &:hover {
    cursor: pointer;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 5px;
    background-color: rgb(255, 183, 107);
  }
}

.admin-product-add-button {
  &:hover {
    filter: brightness(1.2);
  }
}
