@import "variables";

.admin-nav-button--selected {
  border-radius: 5px;
  background-color: $primary-dark;
  color: white;
}

.admin-nav-button {
  border: 1px solid $primary-dark;
  border-radius: 5px;
}

.admin-details-button {
  background-color: $primary-accent;
  color: white;
  font-weight: 700;
}
