@import "variables";

.admin-nav-button--selected {
  border-radius: 5px;
  background-color: $primary-dark;
  color: white;
  padding: 5px 15px;
  font-weight: 700;
  & img {
    width: 40px;
    height: 40px;
  }
}

.admin-nav-button {
  border: 1px solid $primary-dark;
  border-radius: 5px;
  padding: 5px 15px;
  & img {
    width: 40px;
    height: 40px;
  }
}

.admin-details-button {
  background-color: $primary-accent;
  color: white;
  font-weight: 700;
}

.admin-user-action-button {
  border: 1px solid rgba(105, 4, 4, 0);

  &:hover {
    cursor: pointer;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 5px;
    background-color: rgb(255, 183, 107);
  }

  &--disabled {
    opacity: 0.5;
    &:hover {
      cursor: default;
    }
  }
}

.admin-product-add-button {
  &:hover {
    filter: brightness(1.2);
  }
}

.editable-user-row {
  border-bottom: 1px solid $primary-accent;
  & td {
    background-color: $primary-light;
  }
  & td input {
    max-width: 120px;
  }
}

.user-row-success {
  & td {
    animation: admin-edit-row-success 1s ease;
  }
}

@keyframes admin-edit-row-success {
  0% {
    background-color: green;
  }
  100% {
    background-color: rgba(0, 128, 0, 0);
  }
}

.add-new-product-div {
  background-color: $primary-light;
}

.success-animation {
  animation: admin-edit-row-success 1s ease;
}

.button-disabled {
  opacity: 0.5;
  &:hover {
    cursor: default;
  }
}
