.login-page {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-form {
  border: 1px solid $primary-dark;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 1px $primary-light;
  max-width: 320px;
  & h1 {
    color: $primary-dark;
  }

  & input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $primary-dark;
  }

  & button {
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid $primary-dark;
    &:hover {
      box-shadow: 0px 0px 8px 1px $primary-light;
    }
  }
}

.register-hint a {
  color: rgb(49, 49, 251);
  &:hover {
    color: rgb(0, 0, 255);
  }
}
