.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  border: 1px solid gray;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.register-hint a {
  color: rgb(49, 49, 251);
  &:hover {
    color: rgb(0, 0, 255);
  }
}
