@import "variables";

.carousel_slider_container {
  & div {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    transition: opacity 1s ease;
    display: flex;
    & img {
      width: 100%;
      aspect-ratio: 1/1;
      flex-shrink: 0;
    }
  }
  & button {
    transition: 0.1s;
    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
    &:disabled {
      display: none;
    }
    svg {
      width: 80px;
      height: 80px;
    }
  }
}

.carousel_prev_btn {
  left: 10px;
}

.carousel_next_btn {
  right: 10px;
}
