.cart-main {
}

.cart-title {
  font-size: 3rem;
}

.cart-listing {
  width: 100%;
  & table {
    width: 100%;
  }
}

.cart-listing table tbody tr {
  border: 1px solid red;
  background-color: orange;
}

.cart-remove-item-button {
  transition: 0.1s;
  &:hover {
    filter: brightness(1.2);
  }
}

.cart-total {
  color: $primary-dark;
}
