.cart-main {
  padding: 3vh 3vw;
}

.cart-title {
  font-size: 3rem;
  margin-bottom: 3vh;
}

.cart-listing {
  width: 100%;
  border: 1px solid black;
  & table {
    width: 100%;
  }
}

.cart-listing table tbody tr {
  border: 1px solid red;
  background-color: orange;
}
