@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: rgb(255, 255, 253);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

input:focus {
  outline: none;
}

button {
  border-radius: 5px;
  padding: 5px;
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

th {
  text-align: left;
}

.select-no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding-right: 0.5rem;
}
