@import "variables";

.homepage-main {
  & h1 {
    color: $primary-dark;
    font-size: 5rem;
  }

  & a {
    font-size: 2rem;
    transition: 0.1s;
    &:hover {
      filter: brightness(1.2);
    }
  }
}
