@import "variables";

.navbar {
  display: flex;
  background-color: $secondary-accent;
  height: 70px;
  width: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3rem;
}

.navbar-buttons {
  display: flex;
  column-gap: 10px;
}

.navbar-button {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 5px;
  & img {
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
  }
  &:hover {
    cursor: pointer;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 5px;
    background-color: $primary-accent;
  }
}

.navbar-login-button {
  font-size: 1.2rem;
  font-weight: 700;
}

.searchbar-input {
  width: clamp(300px, 50%, 600px);
  border-radius: 5px;
  border: 1px solid rgb(120, 120, 120);
}

.navbar-logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 1.3rem;
}
