@import "variables";

.filter-sidebar {
  width: 20vw;
  height: 100vh;
}

.product-filter {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: 100vh;
  padding-right: 3vw;
  border-right: 1px solid gray;
  & fieldset {
    border: 1px solid gray;
    border-radius: 5px;
  }
  & legend {
    font-size: 1.2rem;
  }
  & fieldset select {
    background: none;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.filter-instrument-radio {
  margin-right: 10px;
}

.filter-brands {
  display: flex;
  flex-direction: column;
}

.filter-brands-checkbox {
  margin-right: 10px;
}

.filter-actions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.instrument-fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.listing-main {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 3vw;
  padding-top: 5vh;
}

.listing-products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
}

.product-item {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: clamp(150px, 200px, 250px);
  transition: 0.1s;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.product-main {
  padding-top: 5vh;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  &-top {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    height: 60vh;
    width: 100%;
    &-left {
      width: 50%;
      & img {
        aspect-ratio: 1/1;
        width: 100%;
        height: 100%;
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      width: 50%;
      row-gap: 10px;
    }
  }
  &-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.product-main-top-right {
  &-name {
    font-size: 3rem;
  }
}

.review-main {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.filter-title {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  & img {
    width: 30px;
    aspect-ratio: 1/1;
  }
}
