@import "variables";

.filter-sidebar {
  width: 20vw;
  height: 100vh;
}

.product-filter {
  border-right: 1px solid gray;
  & fieldset {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
  }
  & legend {
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
    padding-bottom: 5px;
  }
  & fieldset select {
    background: none;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.filter-instrument-radio {
  margin-right: 10px;
}

.filter-brands {
  display: flex;
  flex-direction: column;
}

.filter-brands-checkbox {
  margin-right: 10px;
}

.filter-apply-button,
.filter-reset-button {
  border: 1px solid gray;
  display: flex;
  column-gap: 10px;
  font-size: 1.1rem;
  background: none;
  transition: 0.1s;
  width: 100%;
  justify-content: center;
  & img {
    width: 30px;
    aspect-ratio: 1/1;
  }
}

.filter-apply-button {
  color: green;
  &:hover {
    filter: brightness(1.3);
  }
}

.filter-reset-button {
  color: $primary-dark;
  &:hover {
    filter: brightness(1.3);
  }
}

.instrument-fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.listing-main {
  width: 250px;
  flex-shrink: 0;
}

.shop-item-container {
  min-width: 250px;
  max-width: 300px;
}

.shop-item {
  border: 1px solid gray;
  border-radius: 5px;
  flex-grow: 1;
  transition: 0.1s;
  box-shadow: 0px 0px 10px 5px $primary-light;
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

.shop-item-image {
  width: 300px;
}

.product-main {
  &-top {
    align-items: start;
    flex-direction: row;
    &-left {
      max-height: 50vw;
      @include SM {
        max-height: 75vh;
      }
    }
    @include SM {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 30px 0px;
    }
  }
  &-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.review-main {
}

.filter-title {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  & img {
    width: 30px;
    aspect-ratio: 1/1;
  }
}

.add-cart-button {
  background-color: #198754;
}

.product-amount-title {
  color: $primary-dark;
  font-size: 1.2rem;
}

.green-button-success {
  animation: green-button-success-animation 1s ease;
}

@keyframes green-button-success-animation {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #198754;
  }
}
