$xs: 0px;
$sm: 650px;
$md: 950px;
$lg: 1200px;
$xl: 1400px;
$xxl: 1600px;

@mixin XS {
  @media (max-width: $sm) {
    @content;
  }
}
@mixin SM {
  @media (max-width: $md) {
    @content;
  }
}

// bootstrap reassign
$grid-breakpoints: (
  xs: 0,
  sm: 650px,
  md: 950px,
  lg: 1200px,
  xl: 1400px,
  xxl: 1600px,
);
