$primary-light: rgb(255, 221, 186);
$secondary-light: rgb(255, 200, 143);
$primary-accent: rgb(255, 183, 107);
$secondary-accent: rgb(255, 168, 76);
$primary-dark: rgb(220, 127, 27);

:root {
  --bs-primary: #4caf50; /* change primary (blue → green) */
  --bs-secondary: #ff9800; /* change secondary (gray → orange) */
}
