@import "variables";
@import "navbar";
@import "cssResets";
@import "product";
@import "auth";
@import "carousel";
@import "cart";
@import "responsive";

body {
  background-color: rgb(245, 245, 245);
}

.main-div {
  padding: 0px 2vw;
}
