@import "variables";
@import "navbar";
@import "cssResets";
@import "product";
@import "auth";
@import "carousel";
@import "cart";

body {
  background-color: white;
}

.main-div {
  padding: 0px 2vw;
}

th {
  text-align: left;
}
