body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div1 {
    position: relative;
    overflow: hidden;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px black;
    font-weight: 600;
    font-size: 1.05rem;
}

.logo {
    width: 100px; 
    height: 100px
}

.loader {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50%;
    background-color: rgb(255, 168, 76);    
    z-index: 6;
    transform: translateX(-140%);
    animation: loader 1s cubic-bezier(.57,-0.01,.47,1) alternate infinite;
}

@keyframes loader {
    0% {
        transform: translateX(-149%);
    }
    100% {
        transform: translateX(149%);
    }
}


