.navbar {
  display: flex;
  background-color: rgb(255, 168, 76);
  height: 70px;
  width: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3rem;
}

.navbar-buttons {
  display: flex;
  column-gap: 10px;
}

.navbar-button {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 5px;
}
.navbar-button img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
}
.navbar-button:hover {
  cursor: pointer;
  border: 1px solid rgb(86, 86, 86);
  border-radius: 5px;
  background-color: rgb(255, 183, 107);
}

.searchbar-input {
  width: clamp(300px, 50%, 600px);
  border-radius: 5px;
  border: 1px solid rgb(120, 120, 120);
}

.navbar-logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 1.3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: rgb(255, 255, 253);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.filter-sidebar {
  width: 20vw;
  height: 100vh;
}

.product-filter {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: 100vh;
  padding-right: 3vw;
  border-right: 1px solid gray;
}
.product-filter fieldset {
  border: 1px solid gray;
  border-radius: 5px;
}
.product-filter fieldset select {
  background: none;
  border: none;
}
.product-filter fieldset select:hover {
  cursor: pointer;
}

.instrument-fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.listing-main {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 3vw;
  padding-top: 5vh;
}

.listing-products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
}

.product-item {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 200px;
  transition: 0.1s;
}
.product-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.product-main {
  padding-top: 5vh;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
}
.product-main-top {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  height: 60vh;
  width: 100%;
}
.product-main-top-left {
  width: 50%;
}
.product-main-top-left img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}
.product-main-top-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 10px;
}
.product-main-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.product-main-top-right-name {
  font-size: 3rem;
}

.review-main {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  border: 1px solid gray;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.carousel_slider_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
.carousel_slider_container div {
  opacity: 1;
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
  position: absolute;
  display: flex;
}
.carousel_slider_container div img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.carousel_slider_container button {
  position: absolute;
  z-index: 10;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 80px;
  height: 100px;
  opacity: 0.3;
  border-radius: 10px;
}
.carousel_slider_container button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.052);
  opacity: 1;
}
.carousel_slider_container button:disabled {
  display: none;
}
.carousel_slider_container button svg {
  width: 80px;
  height: 80px;
}

.carousel_prev_btn {
  left: 10px;
}

.carousel_next_btn {
  right: 10px;
}

.cart-main {
  padding: 3vh 3vw;
}

.cart-title {
  font-size: 3rem;
  margin-bottom: 3vh;
}

.cart-listing {
  width: 100%;
  background-color: orange;
}
.cart-listing table {
  width: 100%;
}

body {
  background-color: white;
}

.main-div {
  padding: 0px 2vw;
}

th {
  text-align: left;
}