:root {
  --bs-primary: #4caf50;
  --bs-primary-text: rgb(220, 127, 27);
  --bs-secondary: #ff9800;
}

.text--primary {
  color: rgb(220, 127, 27);
}

.text--secondary {
  color: rgb(255, 183, 107);
}

:root {
  --bs-primary: #4caf50;
  --bs-primary-text: rgb(220, 127, 27);
  --bs-secondary: #ff9800;
}

.text--primary {
  color: rgb(220, 127, 27);
}

.text--secondary {
  color: rgb(255, 183, 107);
}

.navbar {
  display: flex;
  background-color: rgb(255, 183, 107);
  height: 70px;
  width: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3rem;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
  column-gap: 40px;
}
@media (max-width: 950px) {
  .navbar {
    padding: 0px 1rem;
  }
}

.navbar-buttons {
  display: flex;
  column-gap: 10px;
}
@media (max-width: 950px) {
  .navbar-buttons {
    position: absolute;
    top: 70px;
    right: 0;
    padding: 30px 0px;
    row-gap: 10px;
    flex-direction: column;
    width: 100px;
    background-color: rgb(255, 168, 76);
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .navbar-buttons--active {
    transform: translateX(0);
  }
}

.navbar-button {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.navbar-button img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
}
.navbar-button:hover {
  cursor: pointer;
  border: 1px solid rgb(86, 86, 86);
  border-radius: 5px;
  background-color: rgb(255, 183, 107);
}

.navbar-login-button {
  font-size: 1.2rem;
  font-weight: 700;
}

.searchbar-input {
  border-radius: 5px;
  border: 1px solid rgb(120, 120, 120);
  width: 100%;
  font-size: 1.2rem;
  padding: 5px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 1.3rem;
}

.navbar-burger {
  display: none;
}
@media (max-width: 950px) {
  .navbar-burger {
    display: block;
    width: 40px;
    aspect-ratio: 1;
  }
}

:root {
  --bs-primary: #4caf50;
  --bs-primary-text: rgb(220, 127, 27);
  --bs-secondary: #ff9800;
}

.text--primary {
  color: rgb(220, 127, 27);
}

.text--secondary {
  color: rgb(255, 183, 107);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: rgb(255, 255, 253);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

input:focus {
  outline: none;
}

button {
  border-radius: 5px;
  padding: 5px;
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

th {
  text-align: left;
}

.select-no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding-right: 0.5rem;
}

:root {
  --bs-primary: #4caf50;
  --bs-primary-text: rgb(220, 127, 27);
  --bs-secondary: #ff9800;
}

.text--primary {
  color: rgb(220, 127, 27);
}

.text--secondary {
  color: rgb(255, 183, 107);
}

.filter-sidebar {
  width: 20vw;
  height: 100vh;
}

.product-filter {
  border-right: 1px solid gray;
}
.product-filter fieldset {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.product-filter legend {
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
  padding-bottom: 5px;
}
.product-filter fieldset select {
  background: none;
  border: none;
}
.product-filter fieldset select:hover {
  cursor: pointer;
}

.filter-instrument-radio {
  margin-right: 10px;
}

.filter-brands {
  display: flex;
  flex-direction: column;
}

.filter-brands-checkbox {
  margin-right: 10px;
}

.filter-apply-button,
.filter-reset-button {
  border: 1px solid gray;
  display: flex;
  column-gap: 10px;
  font-size: 1.1rem;
  background: none;
  transition: 0.1s;
  width: 100%;
  justify-content: center;
}
.filter-apply-button img,
.filter-reset-button img {
  width: 30px;
  aspect-ratio: 1/1;
}

.filter-apply-button {
  color: green;
}
.filter-apply-button:hover {
  filter: brightness(1.3);
}

.filter-reset-button {
  color: rgb(220, 127, 27);
}
.filter-reset-button:hover {
  filter: brightness(1.3);
}

.instrument-fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.listing-main {
  width: 250px;
  flex-shrink: 0;
}

.shop-item-container {
  min-width: 250px;
  max-width: 300px;
}

.shop-item {
  border: 1px solid gray;
  border-radius: 5px;
  flex-grow: 1;
  transition: 0.1s;
  box-shadow: 0px 0px 10px 5px rgb(255, 221, 186);
}
.shop-item:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.shop-item-image {
  width: 300px;
}

.product-main-top {
  align-items: start;
  flex-direction: row;
}
.product-main-top-left {
  max-height: 50vw;
}
@media (max-width: 950px) {
  .product-main-top-left {
    max-height: 75vh;
  }
}
@media (max-width: 950px) {
  .product-main-top {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 30px 0px;
  }
}
.product-main-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.filter-title {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.filter-title img {
  width: 30px;
  aspect-ratio: 1/1;
}

.product-amount-title {
  color: rgb(220, 127, 27);
  font-size: 1.2rem;
}

.login-page {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-form {
  border: 1px solid rgb(220, 127, 27);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 1px rgb(255, 221, 186);
  max-width: 320px;
}
.login-form h1 {
  color: rgb(220, 127, 27);
}
.login-form input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(220, 127, 27);
}
.login-form button {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid rgb(220, 127, 27);
}
.login-form button:hover {
  box-shadow: 0px 0px 8px 1px rgb(255, 221, 186);
}

.register-hint a {
  color: rgb(49, 49, 251);
}
.register-hint a:hover {
  color: rgb(0, 0, 255);
}

:root {
  --bs-primary: #4caf50;
  --bs-primary-text: rgb(220, 127, 27);
  --bs-secondary: #ff9800;
}

.text--primary {
  color: rgb(220, 127, 27);
}

.text--secondary {
  color: rgb(255, 183, 107);
}

.carousel_slider_container div {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  transition: opacity 1s ease;
  display: flex;
}
.carousel_slider_container div img {
  width: 100%;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}
.carousel_slider_container button {
  transition: 0.1s;
}
.carousel_slider_container button:hover {
  transform: scale(1.1);
  opacity: 1;
}
.carousel_slider_container button:disabled {
  display: none;
}
.carousel_slider_container button svg {
  width: 80px;
  height: 80px;
}

.carousel_prev_btn {
  left: 10px;
}

.carousel_next_btn {
  right: 10px;
}

.cart-title {
  font-size: 3rem;
}

.cart-listing {
  width: 100%;
}
.cart-listing table {
  width: 100%;
}

.cart-listing table tbody tr {
  border: 1px solid red;
  background-color: orange;
}

.cart-remove-item-button {
  transition: 0.1s;
}
.cart-remove-item-button:hover {
  filter: brightness(1.2);
}

.cart-total {
  color: rgb(220, 127, 27);
}

:root {
  --bs-primary: #4caf50;
  --bs-primary-text: rgb(220, 127, 27);
  --bs-secondary: #ff9800;
}

.text--primary {
  color: rgb(220, 127, 27);
}

.text--secondary {
  color: rgb(255, 183, 107);
}

.profile-save-button {
  background-color: rgb(255, 183, 107);
  transition: 0.1s;
}
.profile-save-button:hover {
  filter: brightness(1.07);
}

:root {
  --bs-primary: #4caf50;
  --bs-primary-text: rgb(220, 127, 27);
  --bs-secondary: #ff9800;
}

.text--primary {
  color: rgb(220, 127, 27);
}

.text--secondary {
  color: rgb(255, 183, 107);
}

.admin-nav-button--selected {
  border-radius: 5px;
  background-color: rgb(220, 127, 27);
  color: white;
}

.admin-nav-button {
  border: 1px solid rgb(220, 127, 27);
  border-radius: 5px;
}

.admin-details-button {
  background-color: rgb(255, 183, 107);
  color: white;
  font-weight: 700;
}

.admin-user-action-button {
  border: 1px solid rgba(105, 4, 4, 0);
}
.admin-user-action-button:hover {
  cursor: pointer;
  border: 1px solid rgb(86, 86, 86);
  border-radius: 5px;
  background-color: rgb(255, 183, 107);
}

.admin-product-add-button:hover {
  filter: brightness(1.2);
}

:root {
  --bs-primary: #4caf50;
  --bs-primary-text: rgb(220, 127, 27);
  --bs-secondary: #ff9800;
}

.text--primary {
  color: rgb(220, 127, 27);
}

.text--secondary {
  color: rgb(255, 183, 107);
}

.homepage-main h1 {
  color: rgb(220, 127, 27);
  font-size: 5rem;
}
.homepage-main a {
  background-color: rgb(220, 127, 27) !important;
  border: 1px solid rgb(220, 127, 27);
  font-size: 2rem;
  transition: 0.1s;
}
.homepage-main a:hover {
  filter: brightness(1.2);
}

body {
  background-color: rgb(255, 253.6695652174, 252.3);
}

.main-div {
  padding: 0px 2vw;
  min-height: calc(100vh - 70px - 50px);
}

.footer {
  height: 50px;
}
.footer a {
  color: rgb(255, 221, 186);
  z-index: 100;
}
.footer a:hover {
  color: rgb(255, 183, 107);
  cursor: pointer;
}